<a href="https://colab.research.google.com/github/aureliowozhiak/projeto_avaliacao_credito/blob/main/projeto_avaliacao_credito/An%C3%A1lise%20explorat%C3%B3ria%20e%20limpeza%20dos%20dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
import numpy as np

In [51]:
url_clientes_aprovados = 'https://raw.githubusercontent.com/alura-cursos/Avaliacao_Credito/main/dados/clientes_aprovados.csv'
url_clientes_cadastrados = 'https://raw.githubusercontent.com/alura-cursos/Avaliacao_Credito/main/dados/clientes_cadastrados.csv'

In [52]:
df_clientes_aprovados = pd.read_csv(url_clientes_aprovados)
df_clientes_cadastrados = pd.read_csv(url_clientes_cadastrados)

In [53]:
df_clientes_cadastrados.head()

   ID_Cliente Genero  Tem_Carro  ...   Ocupacao  Tamanho_Familia  Anos_empregado
0     5008804      H          1  ...     Outros              2.0            12.4
1     5008805      H          1  ...     Outros              2.0            12.4
2     5008806      H          1  ...  Seguranca              2.0             3.1
3     5008808      M          0  ...      Venda              1.0             8.4
4     5008809      M          0  ...      Venda              1.0             8.4

[5 rows x 18 columns]

In [54]:
df_clientes_cadastrados.shape

(438557, 18)

In [55]:
df_clientes_cadastrados['ID_Cliente'].value_counts()

7603224    2
7742853    2
7836711    2
7091721    2
7022327    2
          ..
5372264    1
6412652    1
6410605    1
6367602    1
6291456    1
Name: ID_Cliente, Length: 438510, dtype: int64

In [56]:
df_clientes_cadastrados.duplicated().sum()

0

In [57]:
df_clientes_cadastrados[df_clientes_cadastrados['ID_Cliente'].duplicated(keep=False)].shape

(94, 18)

In [58]:
df_clientes_cadastrados[df_clientes_cadastrados['ID_Cliente'].duplicated(keep=False)].shape[0]/df_clientes_cadastrados.shape[0]

0.0002143392991104919

In [59]:
id_repetidos = df_clientes_cadastrados[df_clientes_cadastrados['ID_Cliente'].duplicated(keep=False)]['ID_Cliente']
id_repetidos

421211    7702516
421268    7602432
421349    7602432
421464    7836971
421698    7213374
           ...
433158    7282535
433159    7742853
433217    7135270
433666    7091721
433789    7618285
Name: ID_Cliente, Length: 94, dtype: int64

In [62]:
df_clientes_cadastrados_ID_unicos = df_clientes_cadastrados.drop(id_repetidos.index)
df_clientes_cadastrados_ID_unicos[df_clientes_cadastrados_ID_unicos['ID_Cliente'].duplicated(keep=False)]['ID_Cliente']

Series([], Name: ID_Cliente, dtype: int64)

In [67]:
df_clientes_cadastrados_ID_unicos['ID_Cliente'].duplicated(keep=False).sum()

0

In [70]:
df_clientes_cadastrados_ID_unicos.isnull().sum()

ID_Cliente               0
Genero                   0
Tem_Carro                0
Tem_Casa_Propria         0
Qtd_Filhos               0
Rendimento_Anual         0
Categoria_de_renda       0
Grau_Escolaridade        0
Estado_Civil             0
Moradia                  0
Idade                    0
Tem_Celular              0
Tem_telefone_trabalho    0
Tem_telefone_fixo        0
Tem_email                0
Ocupacao                 0
Tamanho_Familia          0
Anos_empregado           0
dtype: int64

In [72]:
df_clientes_cadastrados_ID_unicos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438463 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Cliente             438463 non-null  int64
 1   Genero                 438463 non-null  object
 2   Tem_Carro              438463 non-null  int64
 3   Tem_Casa_Propria       438463 non-null  int64
 4   Qtd_Filhos             438463 non-null  int64
 5   Rendimento_Anual       438463 non-null  float64
 6   Categoria_de_renda     438463 non-null  object
 7   Grau_Escolaridade      438463 non-null  object
 8   Estado_Civil           438463 non-null  object
 9   Moradia                438463 non-null  object
 10  Idade                  438463 non-null  float64
 11  Tem_Celular            438463 non-null  int64
 12  Tem_telefone_trabalho  438463 non-null  int64
 13  Tem_telefone_fixo      438463 non-null  int64
 14  Tem_email              438463 non-null  int64
 15  Ocupacao               438463 non-null  object
 16  Tamanho_Familia        438463 non-null  float64
 17  Anos_empregado         438463 non-null  float64
dtypes: float64(4), int64(8), object(6)
memory usage: 63.6+ MB